*
{
    margin:0;padding:0;
}

html,body,.container, .sideBar, .content
{
    height: 100%;
}
h1
{
    height: 50px;
    line-height: 50px;
}
.container
{
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sideBar
{
    float:left;
    width: 200px;
    background: aqua;
    overflow:hidden;
}
.content
{
    overflow:hidden;
    background: yellow;   
}